$font-8: 8px;
$font-xxs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-family: Arial, sans-serif;

$black : #151515;
$white: #FFFFFF;
$purple: #460BF9;
$light-bg: #F3F6FB;
$red: #F07171;
