.services {
  background-color: $light-bg;
  padding: 50px 0;

  @media screen and (min-width: 1024px) {
    padding: 100px 0;

  }
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
      font-size: 34px;
      margin-bottom: 36px;
    }
  }
   &_content {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 12px;
     @media screen and (min-width: 600px) {
       grid-template-columns: repeat(2, 1fr);
     }
     @media screen and (min-width: 768px) {
       grid-template-columns: repeat(3, 1fr);
     }
     @media screen and (min-width: 1024px) {
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 12px;
     }
     @media screen and (min-width: 1280px) {
       grid-gap: 32px;
     }
   }
  &_pagination {
    padding-top: 46px;
  }
}