.sidebar {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    color: $black;
    margin-bottom: 14px;
    text-align: center;

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  .service-item {
    margin-bottom: 12px;

    &__text {
      font-size: 12px;
    }

    & .button {
      font-size: 12px;

    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      justify-content: flex-start;
    }
  }

  .button {
    margin-bottom: 42px;
    font-size: 12px;
    font-family: "Commissioner", sans-serif;

    @media screen and (min-width: 1024px) {
      margin-bottom: 54px;
    }
  }

  & .js-add-service {
    padding: 7px 0;
  }

  .add-service, .service-item {
    .button {
      margin-bottom: 0;
    }
  }
}