.comment-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }

  & .comment-rating {
    display: flex;
    align-items: flex-start;
    padding: 0 0 5px;
    
    & div {
      display: flex;
    }

    & span {
      font-size: 10px;
      line-height: normal;
    }
    & i {
      font-size: 12px;
    }
  }

  &__img {
    margin: 0;
    margin-right: 17px;
    width: 32px;
    height: 32px;
    display: block;

    @media screen and (min-width: 768px) {
      width: 42px;
      height: 42px;
    }

    & img {
      max-width: 42px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }

    & i {
      &.rmp-icon--half-highlight {
        background: linear-gradient(to right,#F8CC32 50%,#ccc 50%) !important;
        -webkit-background-clip: text !important;
      }

      &.rmp-icon--full-highlight {
        color: #F8CC32 !important;
      }
    }

    &-name {
      margin-bottom: 0;
      color: $black;
      font-size: 12px;
      font-weight: 500;
      line-height: 130%;
      margin-right: 8px;
      text-decoration: none;

      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }

    &-stars {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 8px;
      
      & li:before {
        display: none;
      }

      & li {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 12px;
      }

      img {
        width: 10px;
        @media screen and (min-width: 768px) {
          width: 12px;
        }
      }
    }

    &-graduate {
      margin: 0;
      color: $black;
      font-size: 8px;
      line-height: 130%;
      font-weight: 400;
      @media screen and (min-width: 768px) {
        font-size: 10px;
      }
    }
  }

  &__data {
    margin: 0;
    color: rgba(21, 21, 21, 0.58);
    font-size: 8px;
    font-weight: 400;
    @media screen and (min-width: 768px) {
      font-size: 10px;
    }
  }
}