<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cloud Miner</title>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="styles/main.css">    </head>
    <body id="body">
        <main>
            @@include("../blocks/modules/modal/modal-bg.html")
            @@include("../blocks/modules/modal/modal-add-service.html")
            @@include("../blocks/modules/modal/modal-add-complaint.html")
            @@include("../blocks/modules/modal/modal-complaint-success.html")
            @@include("../blocks/modules/modal/modal-thank-comment-success.html")
            @@include("../blocks/modules/modal/modal-thank-service-success.html")
            @@include("../blocks/modules/header/header.html")
            @@include("../blocks/modules/banner/banner.html")
            @@include("../blocks/modules/services/services.html")
            @@include("../blocks/modules/important-articles/important-articles.html")
            @@include("../blocks/modules/useful-articles/useful-articles.html")
            @@include("../blocks/modules/actual-articles/actual-articles.html")
            @@include("../blocks/modules/seo-module/seo-module.html")
            @@include("../blocks/modules/footer/footer.html")
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
