.service-rating {

  &__title {
    span {
      font-size: 52px;
      font-weight: 700;
      color: #151515;
      font-family: "Commissioner", sans-serif;
      line-height: 116%;
      margin-bottom: 10px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
      }
    }
    p {
      font-size: $font-xs;
      margin-bottom: 12px;
      @media screen and (min-width: 1024px) {
        font-size: $font-md;
        margin-bottom: 30px;
      }
    }
  }
  .hidden-sort {
    display: none;
  }

  .select-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    //
    background: #F3F6FB;
    border-radius: 5px;
    //overflow: hidden;

    @media screen and (max-width: 767px) {
      display: none;
      &.opened {
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    }

    &__container {
      border-radius: 3px;
      border: 0.6px solid #460BF9;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        border: none;
      }

      @media screen and (max-width: 767px) {
        &.opened {
          .arrow {
            transform: rotate(180deg);
          }
        }
      }
    }

    &__mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;

      @media screen and (min-width: 768px) {
        display: none;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
          margin: 0 0 0 8px;
        }
      }
    }

    .facetwp-facet {
      margin-bottom: 0;
      border-right: 1px solid #d9dbdf;

      & .fs-wrap {
        width: 100%;
      }

      & .fs-label-wrap,
      & .facetwp-dropdown {
        padding: 12px 17px;
        width: 100%;
        background: #F3F6FB;
        border: unset;
        color: rgba(21, 21, 21, 0.21);
        font-family: 'Commissioner', sans-serif;
      }

      & .fs-label {
        font-size: 12px;
      }

      & .fs-arrow {
        border: unset;
        background-image: url(../../src/img/images/svg/arrow-down-1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 12px;
        height: 12px;
        margin: auto 12px auto 0;
      }

      & .fs-dropdown {
        & * {
          font-family: 'Commissioner', sans-serif;
        }
      }
    }

    .button-select-approve {
      padding: 20px;
      margin: 0;
      border: none;
      outline: none;
      background: #F3F6FB;
      color: $purple;
      cursor: pointer;
      width: 100%;

      @media screen and (min-width: 768px) {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 25px;
        border: 1px solid $purple;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.5px;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }
}