.button {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 21px;
  font-weight: 500;
  font-size: $font-xs;
  outline: none;
  border: 1px solid $purple;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  text-decoration: underline;

  img {
    margin-left: 4px;
  }

  &:hover {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(70, 11, 249, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(70, 11, 249, 1);
    box-shadow: 0px 0px 24px 0px rgba(70, 11, 249, 1);
    opacity: 0.9;
  }

  @media screen and (min-width: 768px) {
    font-size: $font-sm;
  }
}

.purple-contain-button {
  background: $purple;
  color: $white;
  text-decoration: none;
}

.white-contain-button {
  background-color: $white;
  color: $purple;
  text-decoration: none;
}

.purple-outline-button {
  border: 1px solid $purple;
  color: $purple;
  background-color: transparent;
  text-decoration: none;
}

.social-buttons {
  display: flex;
  align-items: center;
}

.wptelegram-login-output-wrap.container {
  padding: 0;
}

.tgme_widget_login_button {
  font-size: 0 !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.tgme_widget_login_button_icon {
  margin: 0;
  height: 24px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $white;
  border: 1px solid grey;
  margin: 0 8px;
  cursor: pointer;
}

.button-w-full {
  width: 100%;
}

.button-16 {
  font-size: $font-md;
}

.telegram-button {
  border-radius: 3px;
  background: #27A6E5;
  border-color: #27A6E5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ECF1FF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;

  img {
    margin-right: 6px;
  }
}

.button-mob {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .button {
    display: flex;
  }

  @media  screen and  (min-width: 768px){
    display: none;
  }
}